* {
  margin: 0;
  padding: 0;
}

/* Custom Fonts */

@font-face {
  font-family: 'Manrope-Light';
  src: url(../fonts/ttf/Manrope-Light.ttf);
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url(../fonts/ttf/Manrope-Regular.ttf);
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url(../fonts/ttf/Manrope-Bold.ttf);
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url(../fonts/ttf/Manrope-Medium.ttf);
}

h1 {
  font-family: 'Manrope-Bold';
  font-size: 3.5rem;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
  text-transform: upperCase;
  color: #fff;
  margin: 2rem 0;
}

h2 {
  font-famiy: 'Manrope-Bold';
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: 0.09375rem;
}

h3 {
  font-family: 'Manrope-Bold';
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 1rem;
  text-transform: upperCase;
}

h4 {
  font-family: 'Manrope-Bold';
  font-size: 1.75rem;
  line-height: 2.375rem;
  letter-spacing: 0.125rem;
  text-transform: upperCase;
}

h5 {
  font-family: 'Manrope-Bold';
  font-size: 1.5rem;
  line-height: 2.0625rem;
  letter-spacing: 0.10625rem;
  text-transform: upperCase;
}

h6 {
  font-family: 'Manrope-Bold';
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.08125rem;
  text-transform: upperCase;
}

p {
  font-family: 'Manrope-Regular';
}

/* Logo */
.logo {
  color: #fff;
  margin-left: 5rem;
}

.logo h2 {
  font-family: Manrope-Bold;
  font-weight: 700;
}

/* Navigation */

nav {
  background-color: #000;
  font-family: Manrope-Regular;
  display: flex;
  padding-bottom: 2rem;
}

.nav-container {
  display: flex;
  width: 70%;
  padding: 2rem 0 0 4rem;
  align-items: center;
}

.nav-container ul {
  width: 40%;
  margin: 0 auto;
}

.nav ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  margin: 0 auto;
}

.nav a {
  text-decoration: none;
  margin: 0 0 0 2rem;
  color: #fff;
  font-size: 0.85rem;
  text-transform: upperCase;
  letter-spacing: 0.15rem;
}

/* Header */
.product-container {
  display: flex;
  height: 40rem;
  margin: 0 auto;
  border-bottom: 0.5px solid #f1f1f1;
  background: url('../assets/home/desktop/image-hero.jpg') no-repeat 0 0;
  background-position: bottom;
  background-color: #000;
}

.container-left {
  margin-left: 8.5rem;
  width: 40%;
}

.container-left h4 {
  font-size: 0.9rem;
  text-transform: upperCase;
  margin: 8rem 0 2rem 0;
  letter-spacing: 0.6rem;
  color: #f1f1f1;
  opacity: 0.5;
}

.container-left p {
  color: #f1f1f1;
  width: 60%;
  line-height: 1.75rem;
}

.headphone-button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: #d87d4a;
  color: #f1f1f1;
}

/* Display Cards */
.display-cards {
  display: flex;
  margin: 15rem 0;
  justify-content: space-evenly;
  align-items: baseline;
  /* Aligns buttons at bottom */
}

.card-1,
.card-2,
.card-3 {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 1rem 4rem;
  /* margin: 0.5rem; */
}

.display-cards h6 {
  text-align: center;
}

.display-cards button {
  width: 40%;
  margin: 1rem 6rem;
  border: none;
  text-transform: upperCase;
  font-size: 1rem;
  opacity: 0.5;
}

.display-cards h5 {
  margin-top: -4rem;
}

/* Images */
.display-card-img-1,
.display-card-img-2,
.display-card-img-3 {
  height: 16rem;
  width: 18rem;
  margin-top: -7rem;
}

/* Footer */
.footer {
}
