* {
  margin: 0;
  padding: 0;
}

/* Colors */
/* :root {
  --dark-cyan: #0e8784;
  --dark-grey-blue: #333d4b;
  --pale-orange: #fdd6ba;
  --light-cream-bg: #fefcf7;
  --grey: #83888f;
}
 */

:root {
  --orange: #d87d4a;
  --light-orange: #fbaf85;
  --black: #000;
  --very-dark-grey: #101010;
  --light-grey: #f1f1f1;
  --very-light-grey: #fafafa;
  --white: #fff;
}

/* Custom Fonts */

@font-face {
  font-family: 'Manrope-Light';
  src: url(../fonts/ttf/Manrope-Light.ttf);
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url(../fonts/ttf/Manrope-Regular.ttf);
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url(../fonts/ttf/Manrope-Bold.ttf);
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url(../fonts/ttf/Manrope-Medium.ttf);
}

h1 {
  font-family: 'Manrope-Bold';
  font-size: 3.5rem;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
  text-transform: upperCase;
  color: var(--white);
  margin: 2rem 0;
}

h2 {
  font-family: 'Manrope-Bold';
  font-size: 3rem;
  line-height: 3.25rem;
  letter-spacing: 0.09375rem;
  text-transform: upperCase;
}

h3 {
  font-family: 'Manrope-Bold';
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  text-transform: upperCase;
}

h4 {
  font-family: 'Manrope-Bold';
  font-size: 1.5rem;
  line-height: 2.375rem;
  letter-spacing: 0.125rem;
  text-transform: upperCase;
}

h5 {
  font-family: 'Manrope-Bold';
  font-size: 1.25rem;
  line-height: 2.0625rem;
  letter-spacing: 0.10625rem;
  text-transform: upperCase;
}

h6 {
  font-family: 'Manrope-Bold';
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.08125rem;
  text-transform: upperCase;
}

p {
  font-family: 'Manrope-Regular';
}

/* Logo */
.logo {
  color: var(--white);
  margin-left: 5rem;
}

.logo {
  font-family: Manrope-Bold;
  font-weight: 700;
  font-size: 1.75rem;
}

.sr-only {
  display: none;
}

/* Navigation */
.moble-nav {
  display: none;
}

nav {
  background-color: var(--black);
  opacity: 90%;
  font-family: Manrope-Regular;
  display: flex;
  padding-bottom: 2rem;
  width: 90rem;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  width: 90rem;
  padding: 2rem 0 0 4rem;
  align-items: center;
}

.nav-container ul {
  width: 40%;
  margin: 0 auto;
}

.nav ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  margin: 0 auto;
}

.nav a {
  text-decoration: none;
  margin: 0 0 0 2rem;
  color: var(--white);
  font-size: 0.85rem;
  text-transform: upperCase;
  letter-spacing: 0.15rem;
}

.shopping-cart {
  margin-right: 14rem;
}

.rule {
  color: blue;
  width: 40%;
}

/* Mobile Navigation */
@media only screen and (max-width: 600px) {
  .top-nav {
    display: none;
  }

  .logo {
    margin-left: 0;
  }

  nav {
    background-color: var(--black);
    opacity: 90%;
    font-family: Manrope-Regular;
    flex-direction: column;
    padding-bottom: 2rem;
    width: 100%;
    margin: 0;
  }

  .nav-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .nav-container ul {
    width: 100%;
    margin: 0;
  }

  .nav ul {
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    margin: 0;
  }

  .nav a {
    text-decoration: none;
    margin: 0 0 0 2rem;
    color: var(--white);
    font-size: 0.85rem;
    text-transform: upperCase;
    letter-spacing: 0.15rem;
  }

  .shopping-cart {
    margin-right: 14rem;
  }

  .rule {
    color: blue;
    width: 40%;
  }
}

/* Home Page Header */
.product-container {
  display: flex;
  width: 90rem;
  height: 40rem;
  margin: 0 auto;
  border-bottom: 0.5px solid var(--light-grey);
  background: url('../assets/home/desktop/image-hero.jpg') no-repeat 0 0;
  background-position: bottom;
  background-color: var(--black);
}

.container-left {
  margin-left: 8.5rem;
  width: 40%;
}

.container-left h4 {
  font-size: 0.9rem;
  text-transform: upperCase;
  margin: 8rem 0 2rem 0;
  letter-spacing: 0.6rem;
  color: var(--light-grey);
  opacity: 0.5;
}

.container-left p {
  color: var(--light-grey);
  width: 65%;
  line-height: 1.75rem;
}

.headphone-button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: var(--orange);
  color: var(--light-grey);
}

/* Mobile Home Page Header */
@media only screen and (max-width: 600px) {
  .product-container {
    flex-direction: column;
    width: 100%;
    height: 65rem;
    margin: 0;
    border-bottom: 0.5px solid var(--light-grey);
    background: url('../assets/home/mobile/image-header.jpg') no-repeat 0 0;
    background-position: bottom;
    background-size: cover;
    background-color: var(--black);
  }

  .container-left {
    flex-direction: column;
    margin: 18rem 0 0 0;
    width: 100%;
  }

  .container-left h1 {
    text-align: center;
  }

  .container-left h4 {
    font-size: 1.5rem;
    text-align: center;
    margin: 8rem 0 2rem 0;
    letter-spacing: 0.6rem;
    color: var(--light-grey);
    opacity: 0.5;
  }

  .container-left p {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.25rem;
    line-height: 2.5rem;
    width: 90%;
  }

  .headphone-button {
    padding: 1rem 2rem;
    width: 50%;
    margin: 2rem 7rem;
    letter-spacing: 0.15rem;
    text-transform: upperCase;
    background: var(--orange);
    color: var(--light-grey);
  }
}

/* Category Header */
.cat-header {
  width: 90rem;
  margin: 0 auto;
  padding: 3rem 0 4rem 0;
  background-color: var(--black);
  opacity: 90%;
  color: var(--light-grey);
}

.cat-header h3 {
  letter-spacing: 0.2rem;
  width: 10%;
  margin: 0 auto;
}

/* Home Page Display Cards */
.display-cards {
  display: flex;
  margin: 10rem auto;
  width: 85%;
  justify-content: space-around;
  align-items: baseline;
  /* Aligns buttons at bottom */
}

.card-1,
.card-2,
.card-3 {
  background-color: var(--light-grey);
  border-radius: 10px;
  padding: 1rem 3.5rem;
  /* margin: 0.5rem; */
}

.display-cards h6 {
  text-align: center;
}

.display-cards button {
  width: 40%;
  margin: 1rem 6rem;
  border: none;
  text-transform: upperCase;
  font-size: 1rem;
  opacity: 0.5;
}

.display-cards h5 {
  margin-top: -4rem;
}

/* Images */
.display-card-img-1,
.display-card-img-2,
.display-card-img-3 {
  height: 16rem;
  width: 18rem;
  margin-top: -7rem;
}

.display-card-img-3 {
  margin-bottom: 0;
}

/* Mobile Home Page Display Cards */
@media only screen and (max-width: 600px) {
  .display-cards {
    flex-direction: column;
    width: 90%;
    margin: 5rem auto;
    justify-content: flex-start;
    align-items: baseline;
    /* Aligns buttons at bottom */
  }

  .card-1,
  .card-2,
  .card-3 {
    margin: 5rem 0;
    /* margin: 0.5rem; */
  }
}

/* Home Page: Product ZX9 */

.product-container-ZX9 {
  display: flex;
  height: 35rem;
  width: 83%;
  margin: 0 auto;
  border-radius: 10px;
  /* background: url('../assets/home/desktop/image-speaker-zx9.png') no-repeat;
  background-size: 25% 50%;
  background-position: bottom left; */
  background-color: var(--orange);
}

.zx9-img {
  height: 30rem;
  width: 25rem;
  margin: 5rem 0 0 8rem;
}

.zx9-info {
  margin: 8rem 0 0 15rem;
}

.zx9-info h2 {
  width: 15%;
  color: var(--white);
  text-transform: upperCase;
  margin-bottom: 1.5rem;
}

.zx9-info p {
  width: 60%;
  color: var(--white);
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

.zx9-info button {
  background-color: #000;
}

.container-right p {
  color: var(--light-grey);
  width: 60%;
  line-height: 1.75rem;
}

.zx9-button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: var(--orange);
  color: var(--light-grey);
}

/* Mobile Home Page: Product ZX9 */
@media only screen and (max-width: 600px) {
  .product-container-ZX9 {
    flex-direction: column;
    height: 52rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--orange);
  }

  .zx9-img {
    height: 20rem;
    width: 15rem;
    margin: 4rem 5rem;
  }

  .zx9-info {
    margin: 0;
  }

  .zx9-info h2 {
    width: 60%;
    color: var(--white);
    text-transform: upperCase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .zx9-info p {
    font-size: 1.05rem;
    width: 90%;
    color: var(--white);
    line-height: 2rem;
    letter-spacing: 0.05rem;
    text-align: center;
    margin: 0 auto;
  }

  .zx9-info button {
    margin: 2rem 6rem;
  }

  .container-right p {
    color: var(--light-grey);
    width: 60%;
    line-height: 1.75rem;
  }

  .zx9-button {
    padding: 1rem 2rem;
    margin: 2rem 0;
    letter-spacing: 0.15rem;
    text-transform: upperCase;
    background: var(--orange);
    color: var(--light-grey);
  }
}

/* Home Page: Product ZX7 */
.product-container-ZX7 {
  display: flex;
  height: 20rem;
  width: 83%;
  margin: 2rem auto;
  border-radius: 10px;
  background: url('../assets/home/desktop/image-speaker-zx7.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
}

.zx7-info {
  margin: 5rem 0 0 6rem;
}

.zx7-button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: none;
  color: var(--black);
}

@media only screen and (max-width: 600px) {
  /* Mobile Home Page: Product ZX7 */
  .product-container-ZX7 {
    flex-direction: column;
    height: 30rem;
    width: 90%;
    margin: 2rem auto;
    background: url('../assets/home/mobile/image-speaker-zx7.jpg') no-repeat;
    background-size: cover;
    background-position: right;
  }

  .zx7-info {
    margin: 12rem 0 0 1rem;
  }

  .zx7-info h3 {
    font-size: 2rem;
    letter-spacing: 0.25rem;
  }

  .zx7-button {
    padding: 1rem 2rem;
    margin: 2.5rem 0;
    letter-spacing: 0.15rem;
    text-transform: upperCase;
    background: none;
    color: var(--black);
  }
}

/* Home Page: Product YX1 */
.product-container-YX1 {
  display: flex;
  height: 20rem;
  width: 85%;
  padding: 0 7rem;
  margin: 2rem auto;
}

.product-left {
  width: 40%;
  background: url('../assets/home/desktop/image-earphones-yx1.jpg') no-repeat;
  margin: 0 2rem 0 1rem;
  border-radius: 10px;
}

.product-right {
  width: 55%;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.yx1-info {
  width: 50%;
  margin: 7rem auto;
}

.yx1-button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: none;
  color: var(--black);
}

/* Mobile Home Page: Product YX1 Earphones*/
@media only screen and (max-width: 600px) {
  .product-container-YX1 {
    flex-direction: column;
    height: 40rem;
    width: 90%;
    padding: 0;
    margin: 2rem auto;
  }

  .product-left {
    width: 100%;
    height: 15rem;
    background: url('../assets/home/mobile/image-earphones-yx1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    border-radius: 10px;
  }

  .product-right {
    width: 100%;
    height: 16rem;
    margin: 2rem 0;
    padding: 0 0 3rem 0;
  }

  .yx1-info {
    width: 100%;
    text-align: center;
    margin: 7rem 0;
  }

  .yx1-button {
    padding: 1rem 2rem;
    margin: 2rem 0;
    letter-spacing: 0.15rem;
    text-transform: upperCase;
    background: none;
    color: var(--black);
  }
}

/* Headphones Page: Product Mark II */
.product-container-mark-2 {
  display: flex;
  height: 35rem;
  width: 80rem;
  margin: 10rem 16rem;
  margin-bottom: 8rem;
}

.product-left-mark-2 {
  width: 40%;
  background: url('../assets/product-xx99-mark-two-headphones/desktop/image-product.jpg')
    no-repeat;
  background-size: cover;
  margin: 0 2rem 0 1rem;
  border-radius: 10px;
}

.product-right-mark-2 {
  width: 35%;
  margin: 0 0 0 5rem;
}

.product-right-59 h2 {
  margin: 10rem 0 2rem 0;
}

.product-right-mark-2 h4 {
  margin: 6rem 0 0.25rem 0;
}

.product-right-mark-2 p {
  opacity: 60%;
  line-height: 1.75rem;
}

.product-right-mark-2 button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: none;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: var(--orange);
  color: var(--light-grey);
}

/* Mobile Headphones Page: Product Mark II */
@media only screen and (max-width: 600px) {
  .product-container-mark-2 {
    flex-direction: column;
    height: 50rem;
    width: 90%;
    margin: 6rem auto;
  }

  .product-left-mark-2 {
    height: 30rem;
    width: 90%;
    background: url('../assets/product-xx99-mark-two-headphones/mobile/image-product.jpg')
      no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 10px;
  }

  .product-right-mark-2 {
    width: 90%;
    margin: 1rem 0 0 1rem;
  }

  .product-right-59 h2 {
    margin: 7rem 0;
    text-align: center;
  }

  .product-right-mark-2 h4 {
    margin: 2rem 0;
    text-align: center;
  }

  .product-right-mark-2 p {
    opacity: 60%;
    line-height: 1.75rem;
    text-align: center;
    margin-top: 2rem;
  }

  .product-right-mark-2 button {
    width: 60%;
    margin: 2rem 5rem;
  }
}

/* Headphones Page: Product Mark I */
.product-container-mark-1 {
  display: flex;
  height: 35rem;
  width: 80rem;
  margin: 10rem 16rem;
}

.product-container-mark-1 h4 {
  font-size: 0.9rem;
  text-transform: upperCase;
  margin: 8rem 0 2rem 0;
  letter-spacing: 0.6rem;
  color: var(--orange);
  opacity: 0.5;
}

.product-right-mark-1 {
  width: 40%;
  background: url('../assets/product-xx99-mark-one-headphones/desktop/image-product.jpg')
    no-repeat;
  background-size: cover;
  margin: 0 2rem 0 0;
  border-radius: 10px;
}

.product-left-mark-1 {
  width: 38%;
  margin: 0 2rem 0 1rem;
}

.product-left-mark-1 h2 {
  margin-bottom: 2rem;
}

.product-left-mark-1 h4 {
  margin: 6rem 0 0.25rem 0;
}

.product-left-mark-1 p {
  opacity: 60%;
  line-height: 1.75rem;
}

.product-left-mark-1 button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: none;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: var(--orange);
  color: var(--light-grey);
}

/* Mobile Headphones Page: Product Mark I */
@media only screen and (max-width: 600px) {
  .product-container-mark-1 {
    flex-direction: column-reverse;
    height: 50rem;
    width: 90%;
    margin: 6rem auto;
  }

  .product-container-mark-1 h2 {
    width: 90%;
    margin-top: 3rem;
  }

  .product-container-mark-1 h4 {
    font-size: 0.9rem;
    text-transform: upperCase;
    margin: 8rem 0 2rem 0;
    letter-spacing: 0.6rem;
    color: var(--orange);
    opacity: 0.5;
  }

  .product-right-mark-1 {
    height: 30rem;
    width: 90%;
    background: url('../assets/product-xx99-mark-one-headphones/mobile/image-product.jpg')
      no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
  }

  .product-left-mark-1 {
    width: 90%;
    margin: 0 2rem 0 1rem;
  }

  .product-left-mark-1 h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .product-left-mark-1 h4 {
    margin: 6rem 0 0.25rem 0;
    text-align: center;
  }

  .product-left-mark-1 p {
    opacity: 60%;
    line-height: 1.75rem;
    text-align: center;
  }

  .product-left-mark-1 button {
    padding: 1rem 2rem;
    width: 60%;
    margin: 2rem 4rem;
    border: none;
    letter-spacing: 0.15rem;
    text-transform: upperCase;
    background: var(--orange);
    color: var(--light-grey);
  }
}

/* Headphones Page: Product XX59 */
.product-container-59 {
  display: flex;
  height: 35rem;
  width: 80rem;
  margin: 10rem 16rem;
  margin-bottom: 18rem;
}

.product-left-59 {
  width: 40%;
  background: url('../assets/product-xx59-headphones/desktop/image-product.jpg')
    no-repeat;
  background-size: cover;
  margin: 0 2rem 0 1rem;
  border-radius: 10px;
}

.product-right-59 {
  width: 35%;
  margin: 0 0 0 5rem;
}

.product-right-59 h2 {
  margin: 10rem 0 2rem 0;
}

.product-right-59 h4 {
  margin: 6rem 0 0.25rem 0;
}

.product-right-59 p {
  opacity: 60%;
  line-height: 1.75rem;
}

.product-right-59 button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: none;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: var(--orange);
  color: var(--light-grey);
}

/* Mobile Headphones Page: Product XX59 */
@media only screen and (max-width: 600px) {
  .product-container-59 {
    flex-direction: column;
    height: 50rem;
    width: 90%;
    margin: 6rem auto;
  }

  .product-container-59 h2 {
    width: 90%;
    margin-top: 3rem;
  }

  .product-container-59 h4 {
    font-size: 0.9rem;
    text-transform: upperCase;
    margin: 8rem 0 2rem 0;
  }

  .product-left-59 {
    height: 30rem;
    width: 90%;
    background: url('../assets/product-xx59-headphones/mobile/image-product.jpg')
      no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
  }

  .product-right-59 {
    width: 90%;
    margin: 0 2rem 0 1rem;
  }

  .product-right-59 h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .product-right-59 h4 {
    margin: 6rem 0 0.25rem 0;
    text-align: center;
  }

  .product-right-59 p {
    opacity: 60%;
    line-height: 1.75rem;
    text-align: center;
  }

  .product-right-59 button {
    padding: 1rem 2rem;
    width: 60%;
    margin: 2rem 4rem;
    border: none;
    letter-spacing: 0.15rem;
    text-transform: upperCase;
    background: var(--orange);
    color: var(--light-grey);
  }
}

/* Wireless Earphones */
/* Product YX1 */
.product-container-yx-1 {
  display: flex;
  height: 35rem;
  width: 80rem;
  margin: 10rem auto;
  margin-bottom: 18rem;
}

.product-container-yx-1 h4 {
  font-size: 0.9rem;
  text-transform: upperCase;
  margin: 8rem 0 2rem 0;
  letter-spacing: 0.6rem;
  color: var(--orange);
  opacity: 0.5;
}

.product-left-yx-1 {
  width: 40%;
  margin: 0 2rem 0 1rem;
  border-radius: 10px;
  background: url('../assets/product-yx1-earphones/desktop/image-product.jpg')
    no-repeat;
  background-size: cover;
}

.product-right-yx-1 {
  width: 40%;
  margin: 0 0 0 5rem;
}

.product-right-yx-1 h2 {
  margin-bottom: 2rem;
}

.product-right-yx-1 h4 {
  margin: 6rem 0 0.25rem 0;
}

.product-right-yx-1 p {
  opacity: 60%;
  line-height: 1.75rem;
}

.product-right-yx-1 button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: none;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: var(--orange);
  color: var(--light-grey);
}

/* Speakers */
/* ZX9 */
.product-container-zx9 {
  display: flex;
  height: 35rem;
  width: 70rem;
  margin: 10rem auto;
}

.product-container-zx9 h4 {
  font-size: 0.9rem;
  text-transform: upperCase;
  margin: 8rem 0 2rem 0;
  letter-spacing: 0.6rem;
  color: var(--orange);
  opacity: 0.5;
}

.product-left-zx9 {
  width: 45%;
  background: url('../assets/product-zx9-speaker/desktop/image-product.jpg')
    no-repeat;
  background-size: cover;
  margin: 0 2rem 0 6rem;
  border-radius: 10px;
}

.product-right-zx9 {
  width: 45%;
  margin: 0 0 0 5rem;
}

.product-right-zx9 h2 {
  margin-bottom: 2rem;
}

.product-right-zx9 h4 {
  margin: 6rem 0 0.25rem 0;
}

.product-right-zx9 p {
  opacity: 60%;
  line-height: 1.75rem;
}

.product-right-zx9 button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: none;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: var(--orange);
  color: var(--light-grey);
}

/* ZX7 */
.product-container-zx7 {
  display: flex;
  height: 35rem;
  width: 80rem;
  margin: 10rem auto;
  margin-bottom: 15rem;
}

.product-container-zx7 h4 {
  font-size: 0.9rem;
  text-transform: upperCase;
  margin: 8rem 0 2rem 0;
  letter-spacing: 0.6rem;
  color: var(--orange);
  opacity: 0.5;
}

.product-right-zx7 {
  width: 40%;
  background: url('../assets/product-zx7-speaker/desktop/image-product.jpg')
    no-repeat;
  background-size: cover;
  margin: 0 2rem 0 0;
  border-radius: 10px;
}

.product-left-zx7 {
  width: 38%;
  margin: 9rem 12rem 0 12rem;
}

.product-left-zx7 h2 {
  margin-bottom: 2rem;
}

.product-left-zx7 p {
  opacity: 60%;
  line-height: 1.75rem;
}

.product-left-zx7 button {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: none;
  letter-spacing: 0.15rem;
  text-transform: upperCase;
  background: var(--orange);
  color: var(--light-grey);
}

/* Home Page: Promo */
.promo {
  display: flex;
  width: 85%;
  margin: 12rem auto;
  margin-bottom: 6rem;
  justify-content: space-between;
}

.promo-text {
  height: 25rem;
  width: 40%;
  padding: 8rem 5rem;
  margin-right: 9rem;
}

.promo-text h3 {
  text-transform: upperCase;
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

span {
  color: var(--orange);
}

.promo-text p {
  opacity: 60%;
  line-height: 1.75rem;
}

.promo-image {
  height: 35rem;
  width: 45%;
  align-items: stretch;
  background: url('../assets/shared/desktop/image-best-gear.jpg') no-repeat;
  border-radius: 10px;
  background-position: center;
}

/* Mobile Home Page: Promo */
@media only screen and (max-width: 600px) {
  .promo {
    flex-direction: column-reverse;
    width: 100%;
    margin: 12rem auto;
    margin-bottom: 6rem;
    justify-content: space-between;
  }

  .promo-text {
    height: 25rem;
    width: 90%;
    padding: 0;
    margin: 2rem auto;
  }

  .promo-text h3 {
    text-transform: upperCase;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    width: 90%;
    margin: 2rem 1rem;
    letter-spacing: 0.1rem;
  }

  span {
    color: var(--orange);
  }

  .promo-text p {
    opacity: 100%;
    line-height: 1.75rem;
    text-align: center;
    margin: 0 2rem;
  }

  .promo-image {
    height: 20rem;
    width: 90%;
    align-items: stretch;
    background: url('../assets/shared/mobile/image-best-gear.jpg') no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 10px;
    background-position: center;
  }
}

/* Footer */
.footer {
  background-color: var(--black);
  height: 22rem;
}

.footer-nav-container {
  display: flex;
  width: 80rem;
  padding: 2rem 0 0 8rem;
  align-items: center;
}

.footer-nav-container ul {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.footer-nav-container li {
  list-style-type: none;
}

.footer-nav-container a {
  color: var(--white);
  margin: 2rem;
  text-decoration: none;
}

.footer-description {
  width: 36.5%;
  margin-left: 8rem;
}

.footer-logo {
  font-family: Manrope-Bold;
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--white);
  margin-right: 25rem;
}

.footer-description h4,
.footer-description p {
  color: var(--white);
}

.footer-description p {
  margin: 1.5rem 0 3rem 0;
  line-height: 1.75rem;
  opacity: 50%;
}

/* Mobile Footer */
@media only screen and (max-width: 600px) {
  .footer {
    background-color: var(--black);
    height: 45rem;
    width: 100%;
  }

  .footer-nav-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .footer-nav-container ul {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .footer-nav-container li {
    list-style-type: none;
    font-size: 1.15rem;
    font-weight: 900;
    text-transform: upperCase;
    line-height: 3rem;
  }

  .footer-nav-container a {
    color: var(--white);
    margin: 0;
    text-decoration: none;
  }

  .footer-description {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
  }

  .footer-logo {
    font-family: Manrope-Bold;
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--white);
    margin: 2rem 0;
  }

  .footer-description h4,
  .footer-description p {
    color: var(--white);
  }

  .footer-description p {
    margin: 0 0 2rem 0;
    line-height: 1.75rem;
    opacity: 50%;
  }

  .copyright {
    margin-top: 1rem;
  }
}

/* .icon-container {
  display: flex;
  margin-left: 55rem;
  margin: 8rem 0 0 55rem;
} */
