* {
  margin: 0;
  padding: 0;
}

/* Custom Fonts */
@font-face {
  font-family: Manrope-Regular;
  src: url(../fonts/ttf/Manrope-Regular.ttf);
}

@font-face {
  font-family: Manrope-Bold;
  src: url(../fonts/ttf/Manrope-Bold.ttf);
}

@font-face {
  font-family: Manrope-Medium;
  src: url(../fonts/ttf/Manrope-Medium.ttf);
}

/* Navigation */

nav {
  background-color: #000;

  font-family: Manrope-Bold;
  padding: 1rem;
}

.nav ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  margin: 0 auto;
}

.nav a {
  text-decoration: none;
  margin-left: 2rem;
  color: #fff;
}

h1 {
  font-family: Manrope-Bold;
}

h2 {
  font-famiy: Manrope-Medium;
}

p {
  font-family: Manrope-Regular;
}
